.header-image-wrapper {
    background-image: url("../Images/header-bg.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body {
    font-family: sans-serif;
}

header, main, .top-rated-img, .gallery-items img {
    width: 100%;
}

nav {
    display: flex;
    background-color: #313131;
    white-space: nowrap;
    justify-content: space-between;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    padding: 22px 27px 21px;
}

h3 {
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 22px 0;
}

ul, .flexed.gallery-items {
    display: flex;
}

li {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 28px 17px 26px;
    font-weight: 600;
}

li:hover {
    color: #14B9D5;
}

.search-icon-wrapper {
    background-color: #000000;
}

.search-icon {
    padding: 27px 25px 26px 26px;
}

.header-image-wrapper {
    height: 369px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.header-image-wrapper-buttons {
    display: flex;
    grid-gap: 20px;
    margin-bottom: 74px;
}

h1 {
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 44px;
    font-weight: bold;
}

.header-image-wrapper-subscribe-button {
    background-color: #89CA62;
    padding: 16px 19px 17px;
    border-radius: 4%;
    font-weight: 600;
}

.header-image-wrapper-best-articles-button {
    background-color: #14B9D5;
    padding: 16px 29px 17px;
    border-radius: 4%;
    font-weight: 600;
}

.header-image-wrapper-subscribe-button a, .header-image-wrapper-best-articles-button a {
    color: #FFFFFF;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

h2 {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
    padding-top: 49px;
    padding-bottom: 52px;
}

.background-grey {
    background-color: #F2F2F2;
    width: 100%;
}

.posts-wrapper {
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    height: 850px;
    flex-wrap: wrap;
    grid-gap: 30px;
}

.post-wrapper {
    background-color: #FFFFFF;;
}

h4 {
    color: #353A3D;
    font-size: 18px;
    line-height: 25px;
    padding: 20px 16px 22px 14px;
    text-align: center;
    font-weight: bold;
}

.clients {
    height: 588px;
    padding-top: 107px;
    background: url('../Images/parallax-bg.jpeg') center;
    background-attachment: fixed;
    background-size: cover;
}

.clients-container {
    gap: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
}

.sections-heading-large {
    color: white;
    font-size: 32px;
    grid-area: 1/1/2/5;
    text-transform: uppercase;
}

.sections-heading-large::after {
    content:'';
    display: block;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    margin-top: 87px;
}

.top-rated-wrapper {
    display:grid;
    grid-template: auto / repeat(auto-fit, minmax(6em, 1fr));
}

.hot-news-gallery {
    display: grid;
    gap: 44px 35px;
    margin-bottom: 70px;
    grid-template: 
        "prohepcy prohepcy prohepcy nebula" 16.25em
        "western western grand grand" 1fr
        "tererife tererife twin twin" 1fr
        "prism king king king" 16.25em
        / 1fr 1fr 1fr 1fr;
}

.prohepcy {
    grid-area: prohepcy;
}
.nebula {
    grid-area: nebula;
}
.western {
    grid-area: western;
}
.grand {
    grid-area: grand;
}
.tererife {
    grid-area: tererife;
}
.twin {
    grid-area: twin;
}
.prism {
    grid-area: prism;
}
.king {
    grid-area: king;
}

.gallery-items {
    background: #F9F7F7;
}

.non-flexed.gallery-items:nth-child(odd) {
    margin-right: 14px;
}

.non-flexed.gallery-items:nth-child(even) {
    margin-left: 14px;
}

.news-details {
    text-align: right;
    align-self: center;
    padding: 0 14px;
}

.news-description {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 15px;
    color: #5B6469;
}

.text-end {
    text-align: end;
}

footer {
    background-color: #000000;
}

.footer-content-wrapper {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 26px 0 30px;
}

.footer-content-wrapper p {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    align-self: center;
}

.footer-content-wrapper img {
    grid-column: 4 / 5;
    justify-self: end;
    align-self: center;
}

.navigation {
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 20px;
    flex-wrap: wrap;
}

.navigation > li {
    border: 1px solid white;
    margin-left: 10px;  
    padding: 10px;
}