.container {
    width: 1160px;
    margin: 0 auto;
}

header {
    background-image: url(../images/Sectionsbackground/section-1\(header\).jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}   

.logo p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url(../images/icons/Polygon\ 1\ 1.svg);
    width: 58px;
    height: 67px;
    font-size: 40px;
    line-height: 31px;
}

.logo h3 {
    margin-left: 6px;
    color: white;
    font-size: 32px;
    line-height: 48px;
}

.logo span {
    color: #18CFAB;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 1200px;
}

nav {
    display: flex;
    background: rgba(94, 93, 88, 0.6);
    white-space: nowrap;
    justify-content: space-between;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding: 28px 17px 26px;
    font-weight: 600;
    border-bottom: solid transparent;
}

nav ul li:hover {
    color: #18CFAB;
    border-bottom: solid #18CFAB;
}

.without-border:hover {
    border-bottom: solid transparent;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    margin: 264px 0 22px 0;
}

h2 span {
    color: #18CFAB;
}

h1 {
    font-size: 78px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 22px;
}

.title p {
    font-size: 34px;
    color: #D4D4D4;
    margin-bottom: 134px;
}

.title-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    padding-bottom: 243px;
}

.title-explore-button {
    cursor: pointer;
    width: 147px;
    height: 31px;
    background: #18CFAB;
    padding: 16px 11px;
    border-radius: 5%;
    box-shadow: 0px -5px 0px 0px white;
}

.title-explore-button a, .title-button a {
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.title-button {
    cursor: pointer;
    width: 147px;
    height: 31px;
    background: #00CBF6;
    padding: 16px 11px;
    border-radius: 5%;
    box-shadow: 0px -5px 0px 0px white;
}

.possibilities {
    display: flex;
    height: 250px;
    margin-bottom: 83px;
    margin-top: 5px;
}

.possibilities div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.theme, .support {
    background: #1C2A33;
}

.theme p, .support p {
    font-size: 20px;
    line-height: 24px;
    margin-top: 48px;
    color: #18CFAB;
    font-weight: bold;
    text-transform: uppercase;
}

.customize, .responsive {
    background: #18CFAB;
}

.customize p, .responsive p {
    font-size: 20px;
    line-height: 24px;
    margin-top: 69px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}

h4 {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
}
h4::before {
    content:'';
    display: block;
    width: 75px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 28px;
}

h4::after {
    content:'';
    display: block;
    width: 75px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    margin-top: 26px;
}

.centered-content ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs {
    display: flex;
}

.tabs-title {
    margin-top: 100px;
    padding: 20px;
    background: #F8FCFE;
    color: #717171;
    cursor: pointer;
    position: relative;
    border: 1.5px solid transparent;
}

.active {
    background: #18CFAB;
    color: #FFFFFF;
}

.active:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(24, 207, 171, 0);
	border-top-color: #18CFAB;
	border-width: 10px;
	margin-left: -10px;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
    box-sizing: border-box;
}

.tabs-content li {
    display: flex;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    margin: 26px auto 25px auto;
    max-width: 833px;
}

.tabs-content li img {
    padding-right: 15px;
}

.paralax {
    background-image: url(../images/Sectionsbackground/section-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 91px;
    position: relative;
}

.paralax-wrapper {
    position: relative;
    z-index: 1;
}

.paralax h2 {
    font-weight: bold;
    text-align: center;
    padding-top: 126px;
    padding-bottom: 12px;
    font-size: 35px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.paralax p {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    padding-bottom: 67px;
    color: #D8D8D8;
}

.paralax-button-wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 143px;
}

.paralax-button-wrapper div {
    background: #18CFAB;
}

.paralax-container-opacity {
    background: rgb(0 0 0 / 80%);
    position: absolute;
    height: 100%;
    width: 100%;
}

.work {
    padding-top: 95px;
    margin-bottom: 82px;
    background: #E9EDEF;
}

.amazing-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}

.amazing-tab {
    margin-top: 100px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.0001);
    color: #717171;
    cursor: pointer;
    position: relative;
    border: 1px solid #DADADA;
}

.amazing-active {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.show {
    display: block;
  }

.filtred {
    display: none;
}

.hidden {
    display: none;
}

#root {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.root-item {
    position: relative;
}

.hover-block {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-top: 3px solid #18CFAB;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.8s;
    opacity: 0;
    background-color: #E9EDEF;
}

.hover-block-svg {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 24px;
}

.hover-block-svg-wrapper {
    height: 43px;
    width: 43px;
    margin-left: 3px;
    border: 1px solid #18CFAB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}

.hover-block-svg-wrapper:hover  {
    background-color: #18CFAB;
}

.hover-block-svg-wrapper:hover svg * {
    fill: #FFFFFF;
}

.hover-block h2 {
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #18CFAB;
}

.hover-block p {
    font-size: 12px;
    line-height: 25px;
    text-transform: capitalize;
    text-align: center;
    color: #8A8A8A;
}

.root-item:hover .hover-block{
    opacity: 1;
    transition: 0.8s;
}

.work-button-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadmore {
    cursor: pointer;
    margin: 70px 0 90px 0;
    padding: 12px 20px 10px 44px;
    border-radius: 5%;
    border: none;
    background: #18CFAB;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
}

.work-button-wrapper img {
    position: absolute;
    top: 42%;
    left: 45%;
}

.bn-container {
    margin-bottom: 128px;
}

.breaking {
    margin-top: 101px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 35px;
}

.breaking-news {
    display: flex;
}

.breaking-news-wrapper {
    position: relative;
}

.breaking-news-wrapper:hover div {
    background: #18CFAB;
}

.breaking-news-wrapper:hover h2 {
    color: #18CFAB;
}

.breaking-news-wrapper-date {
    padding: 15px 6px 16px 6px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    background: #203E38;
    color: #FFFFFF;
    width: 58px;
    height: 37px;
}

.distance {
    margin-bottom: 10px;
}

.breaking-news-wrapper h2 {
    padding-left: 10px;
    margin-right: 53px;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.comments {
    padding-left: 15px;
    margin-right: 54px;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.comments span {
    position: relative;
    margin-right: 25px;
}

.comments span::after {
    position: absolute;
    top: 10%;
    left: 120%;
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background: #777777;
}

.reviews {
    background-image: url(../images/Sectionsbackground/section-3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 98px;
    padding-bottom: 104px;
}

.reviews h4 {
    padding-bottom: 99px;
    color: #FFFFFF;
}

.reviews-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}

.slider-nav {
    width: 500px;
    margin: auto;
}

.slider-nav .slick-track {
    height: 90px;
}

.slider-nav .slick-track .slick-slide {
    margin-top: 10px;
}

.slider-nav .slick-track .slick-current {
    margin-top: 0px;
}

.wrapper-slider-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-for div p {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 37px;
    color: #BBBBBB;
}

.slider-for div h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #18CFAB;
}

.slider-for div img {
    height: 142px;
    width: 142px;
    border: 11px solid rgba(31, 218, 181, 0.2);
    border-radius: 90px;
}

.slider-nav div img {
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 40px;
}

.slick-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 121px;
    background-color: #22353F;
}
.copyright p {
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}

.copyright p span {
    color: #18CFAB;
}

.control-c {
    height: 30px;
    width: 30px;
    border: 1px solid #BBBBBB;
    display: flex !important;
    align-items: center;
    justify-content: center;
    top: 40px;
}

.control-c:hover {
    border: 1px solid #18CFAB;
    background: #18CFAB;
}

.control-c:hover svg * {
    fill: white;
}

.control-c::before {
    display: none;
}