body {
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}

header {
    margin-top: 63px;
}

h1 {
    font-size: 80px;
    line-height: 94px;
}

span {
    color: aqua;
}

.menu {
    display: flex;
    margin-top: 38px;
    margin-bottom: 48px;
    background-color: #35444F;
    justify-content: center;
}

.menu-item {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 26px 38px 19px;
    font-size: 24px;
    line-height: 28px;
}

.menu-item:hover {
    background-color: #222F3A;
}

.menu a {
    color: #FFFFFF;
}

main {
    display: flex;
    align-items: flex-start;
}

.aside-menu {
    border: 1px solid #000000;
    width: 344px;
}

.aside-menu-item {
    padding: 26px 194px 26px 44px;
    font-size: 27px;
    line-height: 27px;
    white-space: nowrap;
    transition: 0.5s;
}

.aside-menu-item a{
    color: #495863;
}

.aside-menu-item:hover {
    background: #DBDBDB;
    padding-left: 70px;
    transition: 0.5s;
}

.aside-menu-item:hover a {
    color: #35444F; 
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px; 
    border: 1px solid #000000;
    margin-bottom: 37px;
}

img {
    transition: 0.5s;
    width: 320px;
    height: 381px;
}

img:hover {
    width: 370px;
    height: 431px;
    transition: 0.5s;
}

.content {
    padding-left: 53px;
}

p {
    margin-bottom: 34px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.end-menu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48)
}

.end-menu-item {
    padding: 20px 0px 13px;
    margin-left: 20px;
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    white-space: nowrap;
}

.end-menu-item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

#copyright {
    padding: 20px 0px 21px 40px;
    white-space: nowrap;
    margin-left: 135px;
    margin-right: 40px;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
