body, html {
	font-family: sans-serif;
	font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
	color: #feda4a;
	background-color: #000;
	overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h2 {
    text-align: center;
}

#titles {
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	font-size: 350%;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

#titles:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

#titlecontent {
	position: absolute;
	top: 100%;
	animation: scroll 30s linear 0s infinite;
    margin:0 auto;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}