body {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: sans-serif;
}

.site-wrapper {
    width: 1366px;
    height: 768px;
    background-image: url("../Images/background.png");
    background-repeat: no-repeat;
    padding: 49px 165px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    align-items: flex-end;
    margin-bottom: 26px;
}

.logo:hover {
    color: #F26522;
}

.logo-image-hover, .logo:hover .logo-image {
    display: none;
}

.logo:hover .logo-image-hover {
    display: block;
    margin-bottom: 3px;
}

.logo-image-wrapper {
    margin-right: 8px;
}

.milan {
    font-size: 29px;
    line-height: 29px;
}

.holiday {
    font-size: 18px;
    line-height: 18px;
}

.contacts a{
    display: block;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 19px;
    text-align: end;
}

.contacts:hover a{
    color: #F26522;
}

main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 61px;
    row-gap: 37px;
    width: 1022px;
}

.common-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
}

.details {
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.8s;
    opacity: 0;
    background-color: #F26522;
    color: #FFFFFF;
}

.common-container:hover .details{
    opacity: 1;
    margin-bottom: 40px;
}

.from {
    display: block;
    font-size: 10px;
    margin: 7px 0 8px 16px;
}

.price {
    font-size: 20px;
    margin: 0 128px 0 16px;
}

.view-details {
    font-size: 14px;
    line-height: 14px;
    position: relative;
}

.view-details::after {
    content: "";
    width: 7px;
    height: 7px;
    border-right: 1px solid #FFFFFF;;
    border-top: 1px solid #FFFFFF;;
    transform: rotate(45deg);
    position: absolute;
    left: 93px;
    top: 4px;
}

.common-container p {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.common-container:hover p{
    color: #F26522;
}

footer p{
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 49px;
    color: #FFFFFF;
}

.picture {
    height: 220px;
    width: 300px;
}