
* {
    font-family: 'Ubuntu', sans-serif !important; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 17px 79px;
}

h1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition: 0.5s;
}

.header-right, .button-wrapper {
    display: flex;
}

.header-right svg {
    margin-right: 25px;
    transition: 0.5s;
}

.header-right p {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 4px 0 0 27px;
    position: relative;
    transition: 0.5s;
}

.header-right:hover p {
    opacity: 0.6;
    transition: 0.5s;
}

svg * {
    transition: 0.5s;
}

.header-right span:hover, svg:hover *, h1:hover{
    color: #01813F;
    fill: #01813F;
    opacity: 0.6;
    transition: 0.5s;
}

.header-right p::before {
    content: "";
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    width: 1px;
    height: 19px;
    left: 0;
    bottom: 2px;
}

body {
    background-image: url(../Images/background.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 54px 0px;
}

section {
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 546px;
    position: relative;
    padding-bottom: 38px;
}

section::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 29px;
    background-color: #3CB878;
}

section div {
    width: 324px;
    margin: 0 auto;
}

.form-selection {
    display: flex;
    justify-content: space-between;
}

.sign-up {
    font-size: 20px;
    line-height: 20px;
    display: inline-block;
    margin-top: 31px;
    color: #434343;
}

.log-in {
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    margin-top: 33px;
    color: #3CB878;
}

.log-in:hover {
    text-decoration: underline;
    color: #01813F;
}

.button-wrapper div {
    display: flex;
    width: 160px;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    margin-top: 14px;
    position: relative;
    transition: 0.5s;
}

.facebook-button {
    background: #305DB8;
    margin-right: 4px;
}

.facebook-button:hover {
    background: #022263;
    transition: 0.5s;
}

h3::before {
    content: "";
    width: 1px;
    height: 28px;
    top: 10px;
    left: 48px;
    position: absolute;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.google-button {
    background: #DF4A32;
}

.google-button:hover {
    background: #AB1F09;
    transition: 0.5s;
}

h4::before {
    content: "";
    width: 1px;
    height: 28px;
    top: 10px;
    left: 58px;
    position: absolute;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.or {
    font-size: 14px;
    line-height: 14px;
    position: relative;
    margin: 31px 0 12px;
    text-align: center;
    color: #848484;
}

.or::before, .or::after {
    content: "";
    position: absolute;
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    top: 50%;
}

.or::before {
    left: 0;
}

.or::after {
    right: 0;
}

input {
    color: #434343;
}

.form-field {
    transition: 0.5s;
    background: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    outline: none;
    margin-bottom: 15px;
    padding: 15px 20px;
    width: 324px;
    height: 44px;
    display: block;
}

.form-field::-webkit-input-placeholder {
    color: #BEBEBE;
}

.form-field:focus {
    transition: 0.5s;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox {
    position: absolute;
    left: -9999px;
}

label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
}

label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: -3px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

label::after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    left: 3px;
    top: 1px;
    width: 12px;
    height: 6px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-55deg);
}

.checkbox:not(:checked) + label:after {
    opacity: 0;
}

.checkbox:checked + label:after {
    opacity: 1;
}

label span {
    color: #3CB878;
}

label:hover span {
    text-decoration: underline;
    color: #01813F;
}

.submit {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    width: 324px;
    height: 46px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
    transition: 0.5s;
}

.submit:hover {
    background: #01813F;
    transition: 0.5s;
}