
*{
    font-family: Arial, sans-serif;
    margin: 0;
}

.header-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    font-weight: bold;
}

li {
    font-size: 18px;
    line-height: 18px;
    margin-right: 60px;
    list-style-type: none;
    text-transform: uppercase;
}

a { 
    color: #FF0000;
    text-decoration: none;
}

h2 {
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 49px;
    padding-bottom: 38px;
    color: #373737
}

p {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    padding-left: 67px;
    padding-right: 67px;
    padding-bottom: 28px;
    color: #373737
}

.main-photo {
    width: 100%
}

.main-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-form-button {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-align: center;
    padding: 18px 43px;
    background-color: #FF0000;
    border: none;
    border-radius: 4px;
    color: white;
}

.footer-copyright {
    text-align: end;
    padding: 82px 105px 29px;
    font-size: 16px;
    line-height: 20px;
    color: #373737
}
